html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: 'Iosevka Sparkle', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  text-align: center;
  color: #666;
  background-color: #f7f2ed;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: height 250ms ease-in;
}

h1 {
  font-family: 'Kalam', serif;
  font-weight: 500;
}

h2 {
  font-family: 'Kalam', serif;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

.home:before {
  font-style: normal;
  font-weight: 500;
  content: '~/ ';
}

.hash:before {
  font-style: normal;
  font-weight: 500;
  content: '> ';
}

.xsmall {
  font-size: 0.8rem;
}

.small {
  font-size: 1.4rem;
}

.medium {
  font-size: 1.8rem;
}

.large {
  font-size: 2.4rem;
}

.container {
  width: 700px;
  margin: 5rem auto;
}

section {
  margin: 3rem 0;
  text-align: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

footer {
  display: block;
  margin: 0 0 1rem 0;
  text-align: center;
}

abbr {
  border-bottom: none;
  text-decoration: none;
  font-family: serif;
}

footer abbr[title="#aa9374"] {
  color: #aa9374;
}

footer abbr[title="#da4d5e"] {
  color: #da4d5e;
}

.caliper {
  color: #da4d5e;
}

a {
  outline: 0;
  color: #aa9374;
  text-decoration: none;
}

a:hover {
  background-color: rgba(170, 147, 116, 0.15);
}

a.no-hover:hover {
  background-color: transparent;
}

::selection {
  background: rgba(170, 147, 116, 0.15);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline li {
  display: inline-block;
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

li:first-child {
  padding: 0;
}

.social {
  text-align: center;
}

.twitter { color: #55acee; }
.github { color: #333; }
.night .github { color: #fff; }
.mail { color: #d44638; }
.linkedin { color: #1683bb; }

.social a:hover {
  color: #aa9374;
  transform: scale(1.2);
}

/* night theme */
.frame.night {
  color: #ede1cf;
  background-color: #282828;
}

.night-on {
  display: none;
}

.night .night-on {
  display: block;
}

.night .night-off {
  display: none;
}


/* small mobile devices */
@media (max-device-width:640px) {
  html, body {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .container {
    margin: 3rem auto;
    width: 90%;
  }

  .social * {
    font-size: 1.2rem;
  }
}

/* fonts & icons */
@font-face {
  font-family: 'Iosevka Sparkle';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url('fonts/iosevka-sparkle-light.woff2') format('woff2'), url('fonts/iosevka-sparkle-light.woff') format('woff'), url('fonts/iosevka-sparkle-light.ttf') format('truetype');
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h8dge3');
  src:  url('fonts/icomoon.eot?h8dge3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h8dge3') format('truetype'),
    url('fonts/icomoon.woff?h8dge3') format('woff'),
    url('fonts/icomoon.svg?h8dge3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-mail:before {
  content: "\1f555";
}
.icon-twitter:before {
  content: "\1f551";
}
.icon-github:before {
  content: "\1f552";
}
.icon-linkedin:before {
  content: "\1f550";
}
