:root {
  --bg-main: rgb(43, 5, 64);
  --bg-hover: rgba(255, 255, 255, 0.15);

  --fg-title: rgb(235, 165, 255);
  --fg-text: rgb(214, 92, 232);
  --fg-link: rgb(255, 139, 139);
  --bg-link: rgba(255, 139, 139, 0.15);

  --fg-email: rgb(189, 181, 156);
  --bg-email: rgba(189, 181, 156, 0.15);
  --fg-twitter: rgb(85, 172, 238);
  --bg-twitter: rgba(85, 172, 238, 0.15);
  --fg-github: rgb(255, 255, 255);
  --bg-github: rgba(255, 255, 255, 0.15);
  --fg-lnkdn: rgb(22, 131, 187);
  --bg-lnkdn: rgba(22, 131, 187, 0.15);
}

::selection {
  background-color: var(--bg-hover);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-size: 1.5rem;
  line-height: 160%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Iosevka Sparkle', serif;
  color: var(--fg-text);
  background-color: var(--bg-main);
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  max-width: 750px;
  margin: 5rem auto 0 auto;
  padding: 0 3rem;
}

section {
  margin: 3rem 0 4rem 0;
  text-align: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

p {
  margin: 1rem 0;
}

h1, h2 {
  display: inline-block;
  color: var(--fg-title);
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: initial;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

a {
  outline: 0;
  color: var(--fg-link);
  text-decoration: none;
}

a:hover {
  background-color: var(--bg-link);
}

a[data-icon]::before {
  margin-right: 0.3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

li {
  padding: 0;
  margin: .5rem 0 0 0;
}

.twitter { color: var(--fg-twitter); }
.twitter:hover { background-color: var(--bg-twitter); }
.github { color: var(--fg-github); }
.github:hover { background-color: var(--bg-github); }
.email { color: var(--fg-email); }
.email:hover { background-color: var(--bg-email); }
.lnkdn { color: var(--fg-lnkdn); }
.lnkdn:hover { background-color: var(--bg-lnkdn); }


/* small mobile devices */
@media (max-width: 640px) {
  body {
    font-size: 1rem;
    line-height: 150%;
  }

  .frame {
    margin: 3rem auto 0 auto;
    width: 90%;
    padding: 0;
  }

  .small {
    font-size: 0.9rem;
  }
}

@font-face {
  font-family: 'Iosevka Sparkle';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url('fonts/iosevka-sparkle-medium.woff2') format('woff2'),
    url('fonts/iosevka-sparkle-medium.woff') format('woff'), url('fonts/iosevka-sparkle-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h8dge3');
  src:  url('fonts/icomoon.eot?h8dge3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h8dge3') format('truetype'),
    url('fonts/icomoon.woff?h8dge3') format('woff'),
    url('fonts/icomoon.svg?h8dge3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[data-icon]::before {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[data-icon="email"]::before {
  content: "\1f555";
}
[data-icon="twitter"]::before {
  content: "\1f551";
}
[data-icon="github"]::before {
  content: "\1f552";
}
[data-icon="lnkdn"]::before {
  content: "\1f550";
}
